*{
    border-style: solid ;
    
    
}
div {
    height: 50px;
    width: 50vw;
}
.box{
    background-color: bisque;
    width: 100px;
    height: 100px;
    margin: 5px;
}
.container{
    height: 500px;
    width: 100%;
    background-color: rgb(143, 97, 41);
    display: grid;
    grid-template-columns: 100px 100px;
    grid-auto-rows: minmax(center, center);
    column-gap: 30px;
    height: 400px;
    
    /* 
    justify-content: space-around;
    align-items:center;
    */
}
#hobler {
    width: 50%;
    height: 50%;
}

@media (min-width: 1080px) {
    body { background-color: lightblue; }
    .container{
        background-color: rgb(143, 97, 41);
        display: grid;
        grid-template-columns: 100px 100px 100px;
        grid-auto-rows: minmax(100px);
        column-gap: 10px;
        height: 400px;
    }
}
@media (max-width: 680px) {
    body { background-color: green; }
    .container{
        height: 500px;
        background-color: rgb(143, 97, 41);
        display: grid;
        grid-template-columns: 100px 100px;
        grid-auto-rows: minmax(center, center);
        column-gap: 30px;
        height: 400px;
    
    }
}