
div{
    
    width: 700px;
    height: 200px;
    background-color: blue;
    padding: 30px
}

h1{
    color: white;
    font-size: 45px;
    font-style: italic;   text-align: center;
}
p{
    color: brown;
}