@media (min-width: 800px) {

    .topMenu{
        align-items: center;
        justify-content: space-between;
        width: auto;
        height: 100px;
        display: flex;
        
        background-color: #000;   
    }

    .lefty{
        display: flex;
        align-items: center;
        padding-left: 70px;
    }

    .reighty{
        display: flex;
        padding-right: 200px;
        align-items: center;
        justify-content: space-around;
    }

    .legal{
        font-size: 70px;
        color: grey;
        margin-right: 12px;
        padding-right: 10px; ;
    }

    .menuText{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: bold;
        font-size: 18px;
        color: grey;
        padding-left: 60px;
    }

    .icon{
        width: 30px;
        margin-left: 65px;
    }
    .bigger{
        height: 50px;
        
    }
    .backy{
        position: relative;
    }
    .support{
        position: sticky;
        bottom: 20px;
        right: 20px;
        margin-bottom: 700px;

    }
}