.boxInp{
    display: flex;
    width: 200px;
}
.boxCal{
    display:flex;
    width: 250px;
    margin-top: -10px;
    
}
#num1{
    width: 74px;
    
}
#num2{
    width: 74px;
    
}
*{
    padding: 10px;;
}
.boxOut{
    width: 230px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    margin-left: 10px;
}

.gridder{
    margin-left: -10px;
}